<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated User -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.htwg.generated.emf.EMFUser.presentation.EMFUserModelWizardID"
            name="%_UI_EMFUserModelWizard_label"
            class="de.htwg.generated.emf.EMFUser.presentation.EMFUserModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EMFUserModelFile.gif">
         <description>%_UI_EMFUserModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated User -->
      <editor
            id="de.htwg.generated.emf.EMFUser.presentation.EMFUserEditorID"
            name="%_UI_EMFUserEditor_label"
            icon="icons/full/obj16/EMFUserModelFile.gif"
            extensions="emfuser"
            class="de.htwg.generated.emf.EMFUser.presentation.EMFUserEditor"
            contributorClass="de.htwg.generated.emf.EMFUser.presentation.EMFUserActionBarContributor">
      </editor>
   </extension>

</plugin>
