<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated User -->
      <package
            uri="http://de.htwg.test"
            class="de.htwg.generated.emf.EMFUser.EMFUserPackage"
            genModel="emfmodel/User.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Forum -->
      <package
            uri="http://de.htwg.generated.Forum"
            class="de.htwg.generated.emf.Forum.ForumPackage"
            genModel="emfmodel/Forum.genmodel"/>
   </extension>

</plugin>
